<h1> Welcome to Pete for sale</h1>

<p> The number one place to buy and sell pete goods</p>

<%= link_to"new_user", new_user_path() %>


<!-- this needs to go one the user page, becuse it requires knowing who the user is -->
<%#= link_to"see on market", new_user_product_path(:user_id) %> 