<!DOCTYPE html>

<html>

<head>
	<title>Revera Replica</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	 <link rel="stylesheet" href="../public/revera.css">
</head>

<body>
	<div class="container">
		<div  class="row" id="r1">
			<div class="col-sm-4">
				<div id="header_title">
					REVERA
				</div>
			</div>
			<div class="col-sm-8">
				<div class="nav nav-pills">
					<li> <a class="navi" href="">home</a></li>
					<li> <a class="navi" href="">about</a></li>
					<li> <a class="navi" href="">sample apge</a></li>
					<li> <a class="navi" href="">Portfolio</a></li>
					<li> <a class="navi" href="">blog</a></li>
					<li> <a class="navi" href="">parent page</a></li>
					<li> <a class="navi" href="">contact</a></li>
				</div>

			</div>
			
		</div>
		<div class="row" id="r2">
			
		</div>
		<div class="row" id="r3">
			<div class="col-sm-4 columns3">
				<span class =" glyphicon glyphicon-star-empty"></span>
				<h2>Web Devo</h2>
				<p>hey this is a paragraph with info</p>
			</div>
			<div class="col-sm-4 columns3">
				<span class =" glyphicon glyphicon-star-empty"></span>
				<h2>Web Devo</h2>
				<p>hey this is a paragraph with info</p>
			</div>
			<div class="col-sm-4 columns3">
				<span class =" glyphicon glyphicon-star-empty"></span>
				<h2>Web Devo</h2>
				<p>hey this is a paragraph with info</p>
			</div>
		</div>
		<div class="row" id="r4">
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			
		</div>
		<div  class="row" id="r5">
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			<div class="col-sm-3">
				hey
			</div>
			
		</div>
		<div class="row" id="r6">
			
		</div>
	</div>
</body>

</html>