<!DOCTYPE html>

<html>
<head>
	<title>
		Blog with a comment
	</title>
</head>
<body>
	<h1> Blog is what it is</h1>
	<section>
		<h2> This is a post about life</h2>
		<img src="http://inspirably.com/uploads/user/22157-lol-my-life-life-sucks.png" alt="life rocks">
		<p> Thsi greatness was wrtiten by <a href="https://twitter.com/farazpatankar13">Life on mars</a></p>
		<h3> Comments</h3>
		<ul>
			<li>hate thus</li>
			<li>love thus</li>
		</ul>
		<form>
			<label>name<input type="text" name="commentor" placeholder="who dis"></label>
			<br>
			<br>
			<label> email<input type="email" name="email" placeholder="how 2 reach u"></label>
			<br>
			<br>
			<label>thoghts</label><textarea rows="20" cols="100" name="text" placeholder="write ur thoughts"></textarea>
			<br>
			<br>
			<label>2 not for get you?</label><input type="checkbox" name="check box">
			<br>
			<br>
			<button type="submit">Hit it</button>
		</form>
	</section>
</body>
</html>