<ul>
<% @projects.each do |i| %>
<% if i.description.present? %>
<li >
	<p> <%= i.name %> and People describe me as <%= i.description %></p>
	<%= link_to(i.name, projects_path) %>
</l1 >
<%elsif %>
<li >
	<%= i.name %> 
</l1 >
<% end %>
<% end %>
</ul>