<!DOCTYPE html>
<html>
<head>
	<title>whale</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/whale.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 column">
	<div class="row white">
		<span> <p><img src="https://unsplash.it/30"> <a href="#">Whale</a> posted a new <a href="#"> bounty</a></p></span>
	</div>
	<div class="row comment white">
		<span> <p><img src="https://unsplash.it/40"> Bounty <a href="#">#96</a> on <a href="#"> Helpful</a></p></span>
	</div>
	<div class="row comment white">
		<ul class="listnopad">
			<li ><span class="glyphicon glyphicon-copyright-mark"> </span></li>
			 <li><p class="glyphicon"> 3346</p></li>
			 <li><button class="btnlist"> Now </button></li>
			 <li><button class="btnlist"> HTML</button></li>
			 <li><button class="btnlist"> CSS </button></li>
		</ul>
		<p class="nopad">Make the category a drop down so it doesnt break the layout</p>
	</div>
	<div class="row comment white">
		<ul class="listnopad">
			<li><span class="glyphicon glyphicon-tint"> </span></li>
			<li><button class ="combtn"> Comment </button></li>
		</ul>
	</div>
</div>
</div>
</body>
</html>
