<h1>Welcome to home page</h1>
<p>Input your credentials to enter the secert club</p>
<form action="/validate" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">

	<button type="submit">Login</button>
</form>

