<h1> Welcome to Petebook</h1>
<p> You are now inside the most exclusive internet club in the world</p>

<p>  what do you want to do today! </p>

<form action ="/logout" method = "POST">


<button type="/submit">Logoff</button>
</form>

