<h1> Home </h1>

<% unless current_user.nil? %>
	<a href="/users/sign_out" data-method="delete">
		Log Out
	</a>
	<% else %>

	<a href="/users/sign_in">
		Log in
	</a>

	<a href="/users/sign_up">
		Sign Up Son
	</a>
<% end %>