<h1> Play a fun movie game</h1>
<p> enter a movie title below and see what happens </p>

<form action="/movies" method="POST">
<input type="text" name="search" placeholder="da cinema">
<button type="submit"> Funnish</button>
</form>