<h1> IMDB gem test</h1>

<p>
	search term <strong> <%= @movie %> </strong> 
</p>
<p> Out of the top nine results,which film was filmed in <%= @win_movie.year %> </p>


	<% @final_results.each do |film|%>
		<% if film.year == @win_movie.year %>

			<img src=" <%= film.poster %>" height="220" width="220">
			<form action="/correctmovie" method="POST">
			<button type="submit">Hit</button>
			</form>
		<% else %>
			<img src=" <%= film.poster %>" height="220" width="220">
			<form action="/wrongmovie" method="POST">
			<button type="submit">Hit</button>
			</form>
		<% end %>
	<% end %>