<h1> Hey write a new post below, it is really fun</h1>

<form action ="/writepost" method = "POST">
<p><input type="text" name= "title" placeholder="Title"></p>

<p><textarea name="content" rows="10" cols="30" placeholder="write paragraph">
</textarea></p>


<p><button type="submit">submit</button></p>
</form>