<h1>Welcome to your homepage</h1>

<p>see a list of our products
<br>
<%= link_to"Checkout market", products_path() %> <p>

<p>make a new product
<br>
<%= link_to"add to market", new_user_product_path(:user_id) %> <p>